<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="pagingMapper">

    <sql id="prePaging">
        SELECT *
        FROM
        (
    </sql>

    <sql id="afterPaging">
        ) A
        <choose>
            <when test="orderCol == null or orderCol ==''">
                ORDER BY ${orderColNum} ${orderType}
            </when>
            <otherwise>
                ORDER BY ${orderCol} ${orderType}
            </otherwise>
        </choose>
        <if test="exportType != 'excel'">
            LIMIT #{startNumber}, #{rowLength}
        </if>
    </sql>

</mapper>